body{
    font-family: sans-serif;
}

.whitebody{
    color: black;
    background-color: white;
}

.darkbody{
    color: white;
    background-color: black;
}

.heading{
    font-size: 30px;
    font-weight: bold;
}

.aboutme{
    font-size: 18px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav {
    background-color: #333;
    overflow: hidden;
}

.container1{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.container2{
    display: flex;
    justify-content: flex-start;
    padding: 10px;
}

.fa{
    padding: 20px;
    font-size: 50px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa-envelope {
    background: white;
    color: blue;
}

.fa-linkedin{
    background: #0a66c2;
    color: white;
}

.fa-github{
    background: black;
    color: white;
}

.fa-instagram{
    background: purple;
    color: white;
}


.biggerheading{
    font-size: 18px;
    font-weight: bold;
}

.smallertext{
    font-size: 16px;
    margin-bottom: 20px;
}